@import '../../assets/styles/mixins.scss';
.cd-header {
  background: #007fff;
  color: #fff;
  position: fixed;
  z-index: 20;
  width: 100%;
  &-content {
    height: 80px;
    @include center(row);
  }
  &-left {
    position: absolute;
    left: 20px;
  }
  &-title {
    font-size: 34px;
  }
}
