
@import '../../../../assets/styles/animation.scss';

.no-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 120px);
  @include pb-safe;
  @include fadeIn;
  position: absolute;
  z-index: 0;
  box-sizing: border-box;
  text-align: center;
  &-text {
    margin-top: 2PX;
    color: $tip-color;
    font-size: 12PX;
  }
  .primary-text {
    margin-top: 10PX;
    color: $primary-color;
    font-size: 12PX;
    font-weight: 700;
  }
}
