.focus {
  &-item {
    @include flex(row);
    padding: 20px;
    align-items: center;
    background: #fff;

    &-info {
      flex: 1;
      @include flex(row);
      align-items: center;
      justify-content: space-between;
      padding-left: 20px;
      &-title {
        font-size: 30px;
        margin-bottom: 10px;
        color: #666;
      }
      &-desc {
        font-size: 24px;
        color: #999;
      }
    }
  }
}