.message {
  position: relative;
  .badges {
    position: relative;
    .badge {
      position: absolute;
      z-index: 33;
      top: 10px;
      left: 220px;
      font-size: 22px;
      background: red;
      color: #fff;
      padding: 3px 10px;
      text-align: center;
      border-radius: 20px;
    }
    .badgeRight {
      right: 90px;
      left: inherit;
    }
  }
  .pane {
    @include flex(column);
    height: calc(100vh - 110px);
    padding-bottom: env(safe-area-inset-bottom);
    .scrollview {
      flex: 1;
      overflow: hidden;
    }
    .tabbar {
      height: $tabbar-height;
    }
    .not {
      height: 100%;
      @include center(column);
    }
  }
}
.time {
  &:first-child {
    margin-top: 20px;
  }
  text-align: center;
  color: #999;
  font-size: 24px;
  &.old {
    // color: red;
    margin-top: 20px;
    .timeText {
      border: 1px solid #e1e1e1;
      padding: 4px 16px;
      border-radius: 20px;
    }
  }
}
