.sort {
  .title {
    font-size: 44px;
    background: #fff;
    padding: 20px 30px;
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
  }
  .at-search-bar::after {
    border-bottom: 0;
  }
  &-list {
    margin-top: 15px;
    @include box-shadow();
    &-item {
      @include flex(row);
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: #fff;
      &-left {
        &-img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
        }
      }
      &-right {
        @include flex(row);
        flex: 1;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
      }
      &-title {
        font-size: 32px;
        // font-weight: bold;
        margin-bottom: 10px;
        color: #333;
      }
      &-desc {
        font-size: 24px;
        color: #999;
      }
    }
  }
}
.cancelActionItem {
  color: $danger-color;
}
