@import '../../assets/styles/var.scss';
.at-search-bar::after {
  border-bottom: 0;
}
html {
  background: $bg-color;
}
// swiper {
//   height: 800px;
// }
.at-icon {
  vertical-align: top;
}
.at-tab-bar {
  &::after {
    border-top: 0;
  }
  .at-tab-bar__icon {
    position:relative;
    top: -12px;
  }
}
// swiper {
//   height: calc(100vh - 170px);
//   overflow-y: scroll;
//   -webkit-overflow-scrolling: touch;
// }
.flex-col {
  display: flex;
  flex-direction: column;
}
.scroll-view {
  height: 100vh;
}
.flex1 {
  flex: 1;
}
.h100 {
  height: 100%;
}
page, .index {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  // background: yellow;
  flex: 1;
  width: 100%;
  // overflow-y: auto;
  // -webkit-overflow-scrolling: touch;
}
.at-button--secondary {
  border: 0;
  color: $primary-color;
}
