@import '../../../../assets/styles/animation.scss';
.answer {
    &-wrapper {
      margin-top: 5PX;
      flex: 1;
      padding-bottom: 120px;
      margin-bottom: costant(safe-area-inset-bottom);
      margin-bottom: env(safe-area-inset-bottom);
      // padding-bottom: 120px;
      @include flex(column);
    }
    &-list {
      flex: 1;
      overflow: hidden;

      box-sizing: border-box;
    }
    &-item {
      display: block;
      position: relative;
      @include box-shadow-base();
      @include fadeIn();
      padding: 10PX 20PX;
      // margin: 10PX 0 5PX 0;
      margin-bottom: 5PX;
      background: #fff;
      .user-box {
        @include flex(row);
        justify-content: space-between;
        // align-items: center;
        .user-info {
          @include flex(row);
          align-items: center;
          margin-bottom: 5PX;
        }
        .user-avatar {
          width: 24PX;
          height: 24PX;
          border-radius: 50%;
          vertical-align: middle;
        }
        .user-name {
          margin-left: 10PX;
          font-size: 12PX;
          color: $tip-color;
          font-weight: 700;
        }
      }
      .answer-desc {
        font-size: 12PX;
        color: #333;
        .user-mention {
          color: #666;
          font-weight: 700;
          font-size: 12PX;
        }
      }
    }
  }
.p {
  margin: 20px 10px;
  font-family: "STHeitiTC-Light", "Microsoft YaHei Light", "Hiragino Sans GB", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 32rpx;
  line-height: 1.8;
  word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  color: #333;
  background-color: white;
}