@import '../../../assets/styles/var.scss';
@import '../../../assets/styles/mixins.scss';
.title {
    height: 100%;
    padding-bottom: 0;
    &-wrapper {
      background: $primary-color;
      padding: 30px 40px;
    }
    // @include box-shadow-bottom();
    // box-shadow: $box-shadow-base;
    &-info {
      position: relative;
      padding: 20px 40px;
      background: #fff;
      &-wrapper {
        border-radius: 8px;
        overflow: hidden;
      }
    }
    &-data {
      @include flex(row);
      align-items: center;
    }
    &-pv {
      padding-top: 5PX;
      color: $tip-color;
      font-size: 12PX;
    }
    &-label {
      @include flex(row);
      justify-content: space-between;
    }
    &-tags {
      @include flex(row);
      flex: 1;
      justify-content: flex-start;
      padding-bottom: 20px;
      padding-right: 100px;
    }

    &-avatar{
      position: absolute;
      right: 30px;
      &-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        // @include border-radius;
      }
      &-name {
        position: absolute;
        bottom: -20px;        
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: $tip-color;
      }
      .follow-view {
        position: absolute;
        width:100%;
        padding: 10px;
        box-sizing: border-box;
        // height: 80px;
        position:absolute;
        left:0;
        bottom: -20px;
        display:flex;
        justify-content:center;
      }
      .title-icon-add {
        border-radius: 50%;
        width: 22px;
        height: 22px;
        padding: 6px;
        background: #f5222d;
        opacity: .9;
        line-height: 22px;
        text-align: center;
        // transform: translateX(-50%);
        at-icon {
          display: inline-block;
        }
        &.follow {
          animation: follow 1.2s ease;
          animation-fill-mode: forwards;
        }
        // .at-icon-add {
        //   transition: .3s ease-in-out transform;
        //   transform: scale(1);
        // }
        
      }
    }
    .title-text-wrapper {
      margin-top: 10px;
    }
    &-text {
      font-size: 32px;
      font-weight: 700;
      color: #333;
    }
    &-desc {
      margin: 20px 0;
      font-size: 28px;
      color: #666;
    }
    &-actions {
      @include flex(row);
      align-items: center;
      border-top: 1PX solid #f5f5f5;
      // margin-top: 1PX;
      &-item {
        transition: .5s ease all;
        background: #fff;
        flex: 1;
        height: 90px;
        line-height: 90px;
        font-size: 24px;
        text-align: center;
        color: $primary-color;
        &:first-child {
          border-right: 1PX solid #f5f5f5;
          // margin-right: 1PX;
        }
      }
    }
  }
@keyframes follow {
  0% {
    background: #f5222d;
  }
  50% {
    transform: rotate(-360deg);
    background: #fff;
  }
  75% {
    // transform-origin: 50% 100%;
    transform: scale(1);
    background: #fff;
  }
  to {
    // visibility: hidden;
    transform: scale(0);
    background: #fff;
  }
}