@import '../../../assets/styles/var.scss';
@import '../../../assets/styles/mixins.scss';
.title {
    height: 100%;
    padding-bottom: 0;

    // @include box-shadow-bottom();
    // box-shadow: $box-shadow-base;
    &-info {
      padding: 10PX 20PX;
      background: #fff;
    }
    &-data {
      @include flex(row);
      align-items: center;
    }
    &-pv {
      padding-top: 5PX;
      color: $tip-color;
      font-size: 12PX;
    }
    &-label {
      @include flex(row);
      justify-content: space-between;
    }
    &-tags {
      @include flex(row);
      flex: 1;
      justify-content: flex-start;
      padding-bottom: 10PX;
      padding-right: 50PX;
    }
    &-tag {
      background: #ebf5f8;
      border-radius: 10PX;
      padding: 5PX 10PX;
      color: $primary-color;
      font-size: 12PX;
      margin-right: 10PX;
      &:last-child {
        margin-right: 0;
      }
    }
    &-avatar{
      position: absolute;
      right: 20PX;
      &-img {
        width: 30PX;
        height: 30PX;
        border-radius: 50%;
        // @include border-radius;
      }
      &-name {
        position: absolute;
        bottom: -10PX;        
        text-align: center;
        font-size: 12PX;
        font-weight: 700;
        color: $tip-color;
      }
      .follow-view {
        position: absolute;
        width:100%;
        padding: 10px;
        box-sizing: border-box;
        // height: 80px;
        position:absolute;
        left:0;
        bottom: -10px;
        display:flex;
        justify-content:center;
      }
      .title-icon-add {
        border-radius: 50%;
        width: 22px;
        height: 22px;
        padding: 6px;
        background: #f5222d;
        opacity: .9;
        line-height: 22px;
        text-align: center;
        // transform: translateX(-50%);
        at-icon {
          display: inline-block;
        }
        &.follow {
          animation: follow 1.2s ease;
          animation-fill-mode: forwards;
        }
        // .at-icon-add {
        //   transition: .3s ease-in-out transform;
        //   transform: scale(1);
        // }
        
      }
    }
    &-text {
      font-size: 16PX;
      font-weight: 700;
      color: #333;
    }
    &-desc {
      margin: 10PX 0;
      font-size: 14PX;
      color: #666;
    }
    &-actions {
      @include flex(row);
      align-items: center;
      margin-top: 1PX;
      &-item {
        transition: .5s ease all;
        background: #fff;
        flex: 1;
        height: 45PX;
        line-height: 45PX;
        font-size: 12PX;
        text-align: center;
        color: $primary-color;
        &:first-child {
          margin-right: 1PX;
        }
      }
    }
  }
@keyframes follow {
  0% {
    background: #f5222d;
  }
  50% {
    transform: rotate(-360deg);
    background: #fff;
  }
  75% {
    // transform-origin: 50% 100%;
    transform: scale(1);
    background: #fff;
  }
  to {
    // visibility: hidden;
    transform: scale(0);
    background: #fff;
  }
}