@import '../../../assets/styles/var.scss';
@import '../../../assets/styles/mixins.scss';
.write-review {
  background: #fff;
  .at-textarea {
    border: 0;
    height: 100%;

    .at-textarea__textarea {
      font-size: 14PX;
    }
  }
  .reply {
    padding: 10PX;
    padding-bottom: 0;
    font-size: 14PX;
    color: $--color-text-secondary;
  }
  .tips {
    margin: 10PX;
    box-sizing: border-box;
    padding: 10PX;
    // padding-left: 30PX;
    border-radius: 6PX;
    background: #f5f5f4;
    font-size: 12PX;
    color: $--color-text-regular;
    position: relative;
    .icon-tags {
      margin-right: 5PX;
      position: relative;
      top: -2PX;
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    // @include box-shadow-top();
    box-shadow: 0px 0 10px #DCDFE6;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: env(safe-area-inset-bottom);
    font-size: 14PX;
    color: $primary-color;
    @include flex(row);
    justify-content: flex-end;
    &-item {
      padding: 12PX 20PX;
      padding-right: 0;
      &:last-child {
        padding-right: 20PX;
      }
    }
  }
}