@import './assets/styles/var.scss';
page {
  font-family: PingFang-SC-Medium, Arial, Helvetica,"Microsoft YaHei", sans-serif;
  background: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  > div , > View {
    flex: 1;
  }
}
.tc {
  text-align: center;
}
.link {
  color: $primary-color;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex1 {
  flex: 1;
}
.h100 {
  height: 100%;
}
.at-icon {
  vertical-align: top;
}
.at-tab-bar {
  &::after {
    border-top: 0;
  }
  .at-tab-bar__icon {
    position:relative;
    top: -8px;
  }
  .icon-publish-copy {
    font-size: 24PX !important;
  }
}
