@import './assets/styles/var.scss';
page {
  font-family: PingFang-SC-Medium, Arial, Helvetica,"Microsoft YaHei", sans-serif;
  background: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  > div , > View {
    flex: 1;
  }
}
.tc {
  text-align: center;
}
.link {
  color: $primary-color;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex1 {
  flex: 1;
}
.h100 {
  height: 100%;
}
// .at-icon {
//   vertical-align: top;
// }
.at-tab-bar {
  &::after {
    border-top: 0;
  }
  .at-tab-bar__icon {
    position:relative;
    top: -8px;
  }
  .icon-publish-copy {
    font-size: 24PX !important;
  }
}

/* button style */
.btn-info {
  background: #f5f5f5 !important;
  color: #999 !important;
  border-color: #f5f5f5 !important
}

/* 覆盖全局 taro-ui 样式 */

.at-action-sheet__header {
  font-size: 24px;
  padding: 30px 24px;
  font-weight: 500;
}
.at-action-sheet__footer {
  border-top: 0;
  font-size: 26px;
  // padding: 30px 24px;
}
.at-action-sheet__item {
  padding: 30px 24px;
  font-size: 26px;
  font-weight: 500;
}

.at-button--primary {
  background-color: $primary-color;
  border-radius: 24px;
  transition: .3s background linear;
}
.at-button--small {
  font-size: 24px;
}
.at-modal__content  {
  padding-bottom: 10px;
}
.login-btn {
  color: $primary-color;
  border: 0;
  background: transparent;
  font-size: 30px;
}
