@import './var.scss';
/*
 * flex 布局
 * $direction 主轴方向
 */
@mixin flex($direction: column,$inline: flex) {
  display: $inline;
  flex-direction: $direction;
  flex-wrap: nowrap;
}
// 水平垂直居中
@mixin center($direction: column) {
  @include flex($direction);
  justify-content: center;
  align-items: center;
}
//多行超出省略号
@mixin ell($line: 1) {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}
//宽高
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}
//字体大小、行高、字体
@mixin ft($size, $line-height) {
    font-size: $size;
    line-height: $line-height;
}
//字体大小，颜色
@mixin sc($size, $color) {
    font-size: $size;
    color: $color;
}

@mixin card($bs: $box-shadow-base, $br: $border-radius-base) {
  box-shadow: $bs;
  border-radius: $br;
}

@mixin box-shadow-base(
    $left: 0 0 0 $--border-color-base,
    $top: 0 0 0 $--border-color-base,
    $right: 0 0 0 $--border-color-base,
    $bottom: 0 0 0 $--border-color-base
  ) {
  box-shadow: $left, $top, $right, $bottom;
}
@mixin box-shadow-top() {
  @include box-shadow-base($top: $box-shadow-top)
}
@mixin box-shadow-right() {
  @include box-shadow-base($right: $box-shadow-right)
}
@mixin box-shadow-left() {
  @include box-shadow-base($left: $box-shadow-left)
}
@mixin box-shadow-bottom() {
  @include box-shadow-base($bottom: $box-shadow-bottom)
}
@mixin box-shadow() {
  @include box-shadow-base($top: $box-shadow-top, $right: $box-shadow-right, $left: $box-shadow-left, $bottom: $box-shadow-bottom)
}
@mixin border-radius($radius: $border-radius-base) {
  border-radius: $radius;
}
