.cd-grid__item {
  padding-top: 20px;
  &:active {
    background: #f0f0f0;
  }
  &__icon {
    padding: 20px;
    &-box {
      position: relative;
    }
    &-img {
      width: 90px;
      height: 90px;
    }
    &-content {
      margin-top: 10px;
      font-size: 28px;
      color: #666;
    }
  }
  .active-img {
    position: absolute;
    top: 0;
    right: 0;
    transition: .25s all ease;
    opacity: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  .ani-scale {
    opacity: 1;
  }
}
