@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/var.scss';

.cd-grid {
  &__flex {
    display: flex;
    &-item {
      flex: 0 0 33.3333%;
      &__icon {
        &-img {
          width: 144px;
          height: 144px;
        }
      }
    }
  }
}
